body {
  #genres {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
  }

  #sidebar {
    .logo-mobile {
      display: none;
    }

    .logo {
      display: block;
    }
  }

  #sidebar.squeezed {
    width: 60px;

    .logo {
      display: none;
    }

    .logo-mobile {
      display: block;
      color: #D5AD6D;
      background: -webkit-linear-gradient(transparent, transparent), -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
      background: -o-linear-gradient(transparent, transparent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding: 27px 10px 34px;
      font-size: 16px;
      font-family: 'Signika', sans-serif;
      font-weight: bold;
      letter-spacing: 2.5px;
    }

    li {
      a {
        justify-content: center;

        i {
          padding-top: 2.5px;
          padding-bottom: 2.5px;
          padding-left: 15px;
        }

        span {
          display: none;
        }
      }
    }

    + .content {
      margin-left: 60px;

      nav {
        width: calc(100% - 60px);
      }
    }
  }
}